body{
  margin: 0;
  padding: 0;
  width:100%
}
/*
#wrapperBlock{
  margin: 3px auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: calc(100vmin - 1px);
  height: calc(10vmin - 1px);
  border: 2px solid #333;
}

.square{
  margin: 0;
  padding: 0;
  width: calc(10vmin - 1px);
  height: calc(10vmin - 1px);
  border: 1px solid #aaa;
  background-color: #eee;
  box-sizing: border-box;
display: flex;
text-align: center;
    justify-content: center;
    font-size: 25px;
    line-height: calc(17vmin - 3px);
    cursor: pointer;
}
*/

/*
.red {
    background-color: red;
}

.green {
    background-color: green;
}
*/

/*
СТИЛИ ПОИСКОВИКА
.wrapper {
    width: 300px;
    margin: 0 auto
}

.result {
    width: 300px;
    min-height: 200px;
    margin-top: 20px;
    background-color: grey;
    border: 1px solid black;
}*/

/*СТИЛИ ДЛЯ ИСТОРИЧЕСКОГО ПОИСКОВИКА*/

/*
* {
	box-sizing: border-box;
}
#parent {
	margin: 0 auto;
	width: 600px;
}
#input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
}
#table {
	width: 100%;
}
#table td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}*/

/*
CSS ДЛЯ ГОРОСКОПА
.wrapper {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
.day_radio {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.output {
    width: 400px;
    height: 100px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid black;
}
*/

/*
CSS САЙТА С ПРЕДСКАЗАНИЯМИ
#parent {
	text-align: center;
}
#parent > * {
	margin-bottom: 10px;
}

#timer {
	font-size: 18px;
}
#text {
	font-size: 17px;
	font-style: italic;
}

button {
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
}
button:not(.active) {
	display: none;
}
*/

/*
CSS АВТОДОПОЛНЕНИЯ
#parent {
	position: relative;
}
#elem {
	padding: 5px;
	font-size: 18px;
}

#parent ul {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white;
}
#parent li {
	border: 1px solid gray;
	font-size: 18px;
	padding: 5px;
}
#parent li:hover {
	border: 1px solid black;
	cursor: pointer;
}
*/
/*
CSS СПОЙЛЕРОВ
.spoiler:not(.active) {
	display: none;
}
*/

/*CSS ВКЛАДОК*/
/*
#parent {
	margin: 0 auto;
	width: 400px;
}

.menu a {
	margin-right: 5px;
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	border: 1px solid gray;
}
.menu a:hover {
	background: #f8f8f8;
}
.menu a.active {
	border-color: transparent;
	background: #f2f2f2;
}

.tabs .tab:not(.active) {
	display: none;
}
.tabs .tab {
	padding: 10px;
	background: #f2f2f2;
	height: 300px;
}
*/

